[Desktop Entry]
Version=1.0
Name=Pivuan Config
Comment=Pivuan System Configuration
Exec=sh -c "sudo pivuan-config"
Icon=/usr/share/pixmaps/pivuan/pivuan.png
Terminal=true
Type=Application
Categories=System;Settings;
StartupNotify=true
